.user-data__td {
  position: relative;
  padding: 10px;
  border: 1px solid black;
}

.user-data__td--sorting-up::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 5px;
  display: block;
  width: 10px;
  height: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  background-image: url("./content/img/triangulo.png");
  background-position: center;
  background-size: 10px;
  background-repeat: no-repeat;
}

.user-data__td--sorting-down::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 5px;
  display: block;
  width: 10px;
  height: 10px;
  transform: translateY(-50%) rotate(180deg);
  cursor: pointer;
  background-image: url("./content/img/triangulo.png");
  background-position: center;
  background-size: 10px;
  background-repeat: no-repeat;
}

.user-data__td--sorting {
  font-weight: 700;
  cursor: pointer;
}
