$mobile-width: 320px;
$only-mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 1200px;

$mobile-padding: 20px;
$tablet-padding: 65px;
$desktop-padding: 120px;

$black-color: #000000;
$white-color: #ffffff;
$grey-color-hsl363636: #242424;
$grey-color-hsl414141: #292929;
$grey-color-hsl252525: #191919;
$grey-color-hsl646464: #404040;
$grey-color-hsl727272: #484848;
$grey-color-hsl626262: #3e3e3e;
$grey-color-hsl787878: #4e4e4e;
$grey-color-hsl747474: #4a4a4a;
$grey-color-hsl777777: #4d4d4d;
$grey-color-hsl174174174: #aeaeae;
$grey-color-hsl114114114: #727272;
$grey-color-hsl818181: #515151;
$grey-color-hsl373737: #252525;
$grey-color-hsl535353: #353535;
$grey-color-hsl103103103: #676767;
$grey-color-hsl165165165: #a5a5a5;
$grey-color-hsl125125125: #7d7d7d;
$grey-color-hsl178178178: #b2b2b2;
$grey-color-hsl153153153: #999999;
$grey-color-hsl248245245: #f8f5f2;
$grey-color-hsl229221213: #e5ddd5;
$grey-color-hsl230222215: #e6ded7;
$brown-color-hsl3010180: #826550;
$brown-color-hsl986948: #624530;
$brown-color-hs13611091: #886e5b;
$brown-color-hs1138463: #71543f;
$brown-color-hs825841: #503929;
$brown-color-hs1067756: #6a4d38;
$brown-color-hs11179070: #755a46;
$brown-color-hs1151131116: #978374;
$brown-color-hs1213201189: #d5c9bd;
$brown-color-hs1149140132: #958c84;

$font-size-very-big: 72px;
$font-size-any-biggest: 1px;
$font-size-biggest: 1px;
$font-size-any-big: 1px;
$font-size-big: 40px;
$font-size-medium-big: 1px;
$font-size-medium: 30px;
$font-size-medium-small-2: 24px;
$font-size-medium-small: 20px;
$font-size-small: 18px;
$font-size-any-small: 16px;
$font-size-smallest: 14px;
$font-size-any-smallest: 13px;

$font-weight-regular: 400;
$font-weight-bold: 700;

$line-height-any-biggest: 72px;
$line-height-biggest: 1px;
$line-height-any-big: 40px;
$line-height-big: 32px;
$line-height-medium-big: 30px;
$line-height-medium: 27px;
$line-height-medium-small: 24px;
$line-height-any-small: 18px;
$line-height-smallest: 1px;
